.imagen-port{
    display: block;
    background-color:#007aff;
    max-width: 250px;
    align-items: center;
    margin: 4%;
    padding: 2%;
    border-radius: 15px;
    padding-bottom: 20px;   
}

.imagen-port img{
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 10%;
}

.imagen-port h3{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom:  15px;
    color:white;
    text-align: center;
    width: 100%;
}

.imagen-port p{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor .hijo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#080f28;
}



