.titulo{
    display: flex;
    justify-content: space-between;
    background-color: #080f28;
    color: white;
    max-width: 1900px;
    margin: 2% 5%;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;
}


.contenedor1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.vermas{
    border: white;
    border-width: 2px;
    border-style: solid;
    color: white;
    background-color: #007aff;
    padding: 10px 10px;
    border-radius: 30px;   
}