.hijo-detail-series {
    display: flex;
}


.detailseriessinopsis-container{
    width: 60%;
    /* display: flex; */
    flex-wrap: wrap;
    color: white;
    margin: 4% 3%;
}
.detailseriessinopsis-container h3{
    text-transform: uppercase;
}

.boton-favoritos {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 0px 25px;
    color: #007aff;
    width: 180px;
    display: flex;
    justify-content: flex-start;
}

.detail-favoritos{
    margin-top: 10px;
    width: 230px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #007aff;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.movie {
    margin: 30px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.detail-favoritos h3{
    margin: 0px 0px 0px 6px;
    color: white; 
}

.detail-favoritos i{
    margin:2%;
    color: white;
} 

.detail-favoritos a{
    text-decoration: none;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;
}

.fav{
    background-color: #007aff;
    border-style: none;
    color:white;
}
#star{
    color:yellow;
}

.imagen-port{
    display: block;
    background-color:#007aff;
    max-width: 250px;
    align-items: center;
    margin: 4%;
    padding: 2%;
    border-radius: 15px;
   
}

.imagen-port img{
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 10%;
}

.imagen-port h3{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom:  15px;
    color:white;
    text-align: center;
    width: 100%;
}

.imagen-port p{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor .hijo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#080f28;
}